.element {
    width: 1440px;
    height: 3718px;
    top: -0px;
    left: -0px;
    position: fixed;
}

.container {
    width: 100%;
    max-width: 1103px;
    margin: 0 auto;
    height: 29.46px;
    position: absolute;
    top: 356.02px;
    left: 171.59px;
}

.header {
    width: 1103.41px;
    height: 29.46px;
    position: absolute;
    top: 35.02px;
    left: 171.59px;
}

.menu {
    width: 234px;
    height: 15px;
    position: absolute;
    top: 37px;
    left: 104px;
}

.text-login {
    width: 34px;
    height: 15px;
    position: absolute;
    left: 200px;
}

.text-pricing {
    width: 45px;
    height: 15px;
    position: absolute;
    left: 102px;
}

.typeography {
    font-family: 'Source Scans Pro';
    font-weight: 700;
    font-size: 12px;
    line-height: 15.08px;
    color: rgba(255, 255, 255, 1);
}

.text-courses {
    width: 50px;
    height: 15px;
}

.logo {
    width: 167.02px;
    height: 29.46px;
    position: absolute;
    top: 35.02px;
    left: 171.59px;
}

.smile-path {
    width: 35.57px;
    height: 8.87px;
    position: absolute;
    top: 55.68px;
    left: 171.59px;
    transform: rotate(7deg);
    color: #FFFFFF;
}

.path {
    width: 7.87px;
    height: 11.85px;
    position: abosolute;
    top: 35.02px;
    left: 194.71px;
    color: #FFFFFF;
}

.path {
    width: 7.87 px;
    height: 11.85px;
    position: absolute;
    top: 35.02px;
    left: 175.99px;
    color: #FFFFFF;
}

.smileschool {
    width: 111.83px;
    height: 12.58px;
    position: absolute;
    top: 41.54px;
    left: 226.77px;
    color: #FFFFFF;
}

.path {
    width: 3.96px;
    height: 12.33px;
    position: absolute;
    top: 41.67px;
    left: 333.65px;
}

.path {
    width: 1.91px;
    height: 4.66px;
    position: absolute;
    top: 47.38px;
    left: 327.2px;
}

.path {
    width: 9.97px;
    height: 8.84px;
    position: absolute;
    top: 45.29px;
    left: 323.15px;
}

.path {
    width: 1.91px;
    height: 4.66px;
    position: absolute;
    top: 47.38px;
    left: 315.84px;
}

.path {
    width: 9.97px;
    height: 8.84px;
    position: absolute;
    top: 45.29px;
    left: 311.81px;
}

.h-path {
    width: 9.56px;
    height: 12.42px;
    position: absolute;
    top: 41.58px;
    left: 300.72px;
}

.c-path {
    width: 9.31px;
    height: 8.84px;
    position: absolute;
    top: 45.29px;
    left: 289.83px;
}

.s-path {
    width: 10.85px;
    height: 12.58px;
    position: absolute;
    top: 41.54px;
    left: 277.37px;
}

.path {
    width: 1.84px;
    height: 2.12px;
    position: absolute;
    top: 46.84px;
    left: 270.44px;
}

.path {
    width: 9.32px;
    height: 8.82px;
    position: absolute;
    top: 45.29px;
    left: 266.61px;
}

.path {
    width: 3.96px;
    height: 12.33px;
    position: absolute;
    top: 41.67px;
    left: 261.1px;
}

.path {
    width: 3.87px;
    height: 8.59px;
    position: absolute;
    top: 45.41px;
    left: 255.59px;
}

.path {
    width: 3.92px;
    height: 2.74px;
    position: absolute;
    top: 41.54px;
    left: 255.56px;
}

.m-path {
    width: 14.47px;
    height: 8.59px;
    position: absolute;
    top: 45.41px;
    left: 239.45px;
}

.s-path {
    width: 10.85px;
    height: 12.58px;
    position: absolute;
    top: 41.54px;
    left: 226.77px;
}

.pros {
    width: 1009px;
    height: 237px;
    position: absolute;
    top: 758px;
    left: 217px;
}

.pro_1 {
    width: 150px;
    height: 237px;
    position: absolute;
    top: 758px;
    left: 217px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.Text-Smile-of-the-year {
    width: 150px;
    height: 48px;
    position: absolute;
    top: 189px;
    content: "Smile of the year, 2018-2019";
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Text-Phillip-Massey {
    width: 150px;
    height: 27px;
    position: absolute;
    top: 160px;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.pro_2 {
    width: 150px;
    height: 237px;
    position: absolute;
    top: 758px;
    left: 506px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.Text-Best-little-smile {
    width: 150px;
    height: 48px;
    position: absolute;
    top: 189px;
    content: 'Best little smile 2017';
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Text-Nannie-Lawrence {
    width: 150px;
    height: 27px;
    position: absolute;
    top: 160px;
    content: 'Nannie Lawrence';
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.pro_3 {
    width: 150px;
    height: 237px;
    position: absolute;
    top: 758px;
    left: 787px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.Best-Friend-Smile {
    width: 150px;
    height: 48px;
    position: absolute;
    top: 189px;
    content: 'Best Friend Smile, live performance 2017';
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Text-Bruce-Walters {
    width: 150px;
    height: 27px;
    position: absolute;
    top: 160px;
    content: 'Bruce Walters';
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.pro_4 {
    width: 150px;
    height: 237px;
    position: absolute;
    top: 758px;
    left: 1076px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.Text-24h-smiles-winner {
    width: 150px;
    height: 48px;
    position: absolute;
    top: 189px;
    content: '24h smiles, winner 2016-2019';
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.Text-Henry-Hughes {
    width: 150px;
    height: 27px;
    position: absolute;
    top: 160px;
    content: 'Henry Hughes';
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.Text-Learn-from-the-pros {
    width: 261px;
    height: 40px;
    position: absolute;
    top: 631px;
    left: 604px;
    content: 'Learn from the pros';
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 32px;
    line-height: 40.22px;
    text-align: center;
}

.Span-whitespace {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 32px;
    line-height: 40.22px;
    text-align: center;
}

.Span-for-the-pros {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-size: 32px;
    line-height: 40.22px;
    text-align: center;
}

.Button {
    width: 162px;
    height: 44px;
    position: absolute;
    top: 419px;
    left: 639px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
}



